{% extends "main_site/base.html" %}
{% block title %}Dobry adwokat | Marcin Andreasik{% endblock %}
{% block content %}

<div class="main_container">
  <div class=main_container_logo>
    <div class="main_container_header"><h1>O NAS</h1></div>
    <img class="rotating_logo " src="/static/img/logo.gif">
    {#    <div class="clear"></div>#}
  </div>
  <p>Kancelaria Adwokacka ma siedzibę we Wrocławiu.  Pomoc prawne jest świadczona na terenie całego kraju. Współpracujemy z doświadczonymi prawnikami - adwokatami, radcami prawnymi, wspólnie z którymi dbamy o najwyższą jakość oferowanych usług. W naszej ocenie priorytetami, którymi powinien kierować się każdy prawnik jest skuteczność oraz dyskrecja.</p>
</div> <!-- main_container -->

<div class="main_container attorney_info">
  <div class=main_container_logo>
    <div class="main_container_header">ADWOKAT MARCIN ANDREASIK</div>
    <img class="rotating_logo " src="/static/img/logo.gif">
    {#    <div class="clear"></div>#}
  </div>
  <img class=img_on_right_wrap src="/static/img/marcin.png" alt="Dobry adwokat Wrocław">
  <p>Adwokat, członek Izby Adwokackiej we Wrocławiu.</p>
  <p>Absolwent Wydziału Prawa, Administracji i Ekonomii Uniwersytetu Wrocławskiego. Obecnie doktorant na wydziale Prawa Administracji i Ekonomii UWr. w Instytucje Prawa Cywilnego w Zakładzie Prawa Cywilnego i Międzynarodowego Prywatnego.</p>
  <p>Ukończył aplikację adwokacką organizowaną przez Okręgową Radę Adwokacką we Wrocławiu oraz został wpisany na listę adwokatów.</p>
  <p>Posiada uprawnienia do zasiadania w radach nadzorczych spółek z udziałem Skarbu Państwa. Zarejestrowany w Bazie Kandydatów na członków rad nadzorczych prowadzonej przez Ministra Skarbu Państwa.</p>
  <img src="/static/img/marcin_podpis.png" alt="radca prawny, prawnik">
</div> <!-- main_container -->

<div class="main_container attorney_info">
  <div class=main_container_logo>
    <div class="main_container_header">ADWOKAT IZABELA CHADRYŚ-NOWAK</div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
{#    <img class=img_on_right_wrap src="/static/img/stock_womant.png">#}
  <p>Współpracownik Kancelarii. Absolwentka Wydziału Prawa Uniwersytetu Wrocławskiego. Po ukończeniu aplikacji adwokackiej została wpisana na listę adwokatów Okręgowej Rady Adwokackiej we Wrocławiu.</p>
  <p>W latach 2008-2009 studiowała również na Uniwersytecie Philipa w Marburgu w Niemczech w ramach programu Sokrates-Erasmus, dzięki czemu poznała prawo niemieckie. Ukończyła Podyplomowe Studia na Uniwersytecie Ekonomicznym we Wrocławiu - Doradztwo podatkowe i zarządzanie podatkami.</p>
  <p>Specjalizuje się w prawie podatkowym, administracyjnym i karno-skarbowym - w obsłudze zarówno osób fizycznych, jak i podmiotów gospodarczych. W zakresie jej zainteresowań wchodzą ponadto zagadnienia związane z prawem spółdzielczym, ze szczególnym akcentem na spółdzielnie mieszkaniowe, których liczne sprawy prowadziła. Włada językiem niemieckim oraz angielskim.</p>
  <p><a href="http://adwokat-wroc.com/">www.adwokat-wroc.com</a></p>
  <img src="/static/img/iza_podpis.png">

</div> <!-- main_container -->

<div class="main_container attorney_info">
  <div class=main_container_logo>
    <div class="main_container_header">ADWOKAT MACIEJ KOSTECKI</div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
<!--      <img class=img_on_right_wrap src="/static/img/maciej.png">-->
  <p>Absolwent Wydziału Prawa i Administracji Uniwersytetu Mikołaja Kopernika w Toruniu. Ukończył aplikację prokuratorską, a następnie odbył aplikację adwokacką. Wpisany na listę adwokatów w Izbie Adwokackiej w Zielonej Górze.</p>
  <p>Prowadzi indywidualną kancelarię adwokacką z siedzibą w Zielonej Górze. Specjalizuje się w prawie gospodarczym oraz prawie cywilnym, ze szczególnym uwzględnieniem obsługi prawnej przedsiębiorców.</p>
  <p>Włada językiem angielskim oraz językiem rosyjskim.</p>
{#  <img class=img_on_right_wrap src="/static/img/maciej_podpis.png">#}
  <p><a href="http://www.kancelaria-zielonagora.pl">www.kancelaria-zielonagora.pl</a></p>
</div> <!-- main_container -->

{% endblock %}
