<div id=carousel_container>
  <div id=carousel_picture>

  </div>
  <div id=carousel_text>
    <h1>Witamy na stronie</h1>
    <h2>Kancelarii Adwokackiej</h2>
    <hr>
    <p class="white italic bold">"Sky is the limit"</p>
    <hr>
    <p class="white">W świecie nowych technologii, w którym zacierają się wszelkie granice, my nie zapominamy o jednym – człowieku będącym naczelną wartością. Długoletnie doświadczenie, kreatywność, lojalność towarzyszą nam zawsze, podczas rozwiązywania powierzonych nam spraw. Wykonując swoją pracę kierujemy się zakorzenionymi w strukturze adwokatury zasadami etyki adwokackiej i tajemnicy zawodowej.</p>
  </div>

  <div style="clear: both;"></div>
  <div id=carousel_shadow></div>
</div> <!-- carousel_container -->
