{% extends "main_site/base.html" %}
{% block title %}Kontakt | Kancelaria Adwokacka Marcin Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <img class="rotating_logo " src="/static/img/logo.gif">
    <div class="main_container_header">KONTAKT</div>
  </div>

  <div class="clear"></div>

  <h3>ADRES</h3>
  <div id="address" class="brown_border">
    <div class="vertical_middle">
      <p><span class="bold">Kancelaria Adwokacka<br>
        Marcin Andreasik</span><br>
        ul.Manganowa 7 / 25<br>
        53-441 Wrocław<br>
        Kancelaria znajduje się na 6 piętrze.<br>
        <span class="bold">Godziny otwarcia:</span><br>
        poniedziałek - piątek: 9:00 - 18:00<br>
        sobota: 9:00 - 13:00<br>
        <span class="bold">NIP:</span> 9151659902<br>
        <span class="bold">REGON:</span> 022442420<br>
        <span class="bold">Konto bankowe:</span><br>
        Deutsche Bank Polska S.A.<br>
        73 1910 1048 2401 0669 6495 00 01
      </p>
    </div>
    <div class="vertical_middle"><img class="img_on_right_wrap" src="/static/img/house.jpg"></div>
  </div>

  <h3>KONTAKT BEZPOŚREDNI</h3>
  <div id="kontakt" class="brown_border">
    <div class="vertical_middle"><img class="img_on_right_wrap" src="/static/img/marcin_face.png"></div>
    <div class="vertical_middle">
      <p><span class="bold">ADWOKAT MARCIN ANDREASIK</span><br>
        E-mail: m.andreasik@wroc-adwokat.pl<br>
        Telefon kontaktowy: 668-592-143
      </p>
    </div>

  </div>

  <h3>FORMULARZ KONTAKTOWY</h3>
  <div id="form" class="brown_border">
    <div class="vertical_middle">

      <form name="theform" action="{% url 'main_site:contact' %}" method="post" id="theform">
        {% csrf_token %}
        <label for="name" class="form_field" id="id_name">Imię i Nazwisko:</label><br>
        <input type="text" class="px3border form_field" name="name" value="{% if form.name.value %}{{ form.name.value }}{% endif %}" id="name"/><br>
        <label for="phone" class="form_field" id="id_phone">Telefon:</label><br>
        <input type="text" class="px3border form_field" name="phone" value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}" id="phone"/><br>
        <label for="email" class="form_field" id="id_email">Adres email:</label><br>
        <input type="text" class="px3border form_field" name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" id="email"/><br>
        <label for="topic" class="form_field" id="id_topic">Temat wiadomości:</label><br>
        <input type="text" class="px3border form_field" name="topic" value="{% if form.topic.value %}{{ form.topic.value }}{% endif %}" id="topic"/><br>
        <label for="message" class="form_field" id="id_message">Wiadomość:</label><br>
        <textarea name="message" class="px3border form_field" rows="10" cols="37" id="message">{% if form.message.value %}{{ form.message.value }}{% endif %}</textarea><br>
        <input type="submit" class="px3border form_field" value="Wyślij"/><br>
      </form>
{#      {% load crispy_forms_tags %}#}
{#      {% crispy form %}#}
    </div>
    <div class="vertical_middle"><img class="img_on_left_wrap" src="/static/img/hand_with_pen.png"></div>
  </div>

  <h3>MAPA DOJAZDU</h3>
  <div id="map" class="brown_border border_bottom_1">
    <div id="map_canvas"></div>
    <p class="p">Do kancelari można dojechać tramwajami i autobusami linii 5, 11, 14, 71, 126, 507 przystanek ul. Stalowa</p>
  </div>

</div> <!-- main_container -->

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="/static/js/gmap.js"></script>
{% if form_invalid %}
  <script>window.alert("Proszę wypełnić wszystkie pola formularza kontaktowego").fontcolor("red");</script>
{% endif %}
{% endblock %}
