{% extends "main_site/base.html" %}
{% block title %}Dodatki | Kancelaria Adwokacka Marcin Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header">DODATKI</div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>

  <div class="clear"></div>

  <img src="/static/img/shapes/form.png" class="img_on_left_wrap extras_icon_resize"><h3>Formularze</h3>
  <ul>
    <li>Pełnomocnictwo</li>
    <li>Oświadczenie o stanie rodzinnym i majątkowym</li>
    <li>Pełnomocnitctwo i upoważnienie do obrony</li>
    <li>Następny formularz ...</li>
  </ul>

  <hr>

  <img src="/static/img/shapes/chain.png" class="img_on_left_wrap extras_icon_resize"><h3>Linki</h3>
  <ul>
    <li>www.jakasstrona.pl<br>
      <p class="smaller_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at libero in nisi mollis porttitor. Curabitur porttitor venenatis posuere. In volutpat ante dolor, in malesuada dolor bibendum nec. Donec sagittis egestas hendrerit. Nunc gravida libero vel sodales aliquet. Aliquam tempor lorem ut risus mattis tempus. Sed laoreet molestie mauris, vitae lacinia urna iaculis cursus. Ut ante ante, lacinia ut viverra iaculis, ultrices id massa. Curabitur pharetra dui ac congue eleifend. Maecenas porta pharetra ante, ac volutpat eros rhoncus quis. Maecenas ligula purus, lobortis in ornare vel, porttitor non magna. Sed volutpat, elit a sollicitudin adipiscing, odio turpis iaculis ipsum, vitae dictum massa tortor rhoncus leo. Integer sit amet tempus mi, tincidunt ornare lacus. Mauris congue in ante eu dictum. Donec facilisis mauris vitae leo volutpat rutrum. Vivamus vel adipiscing massa. </p>
    </li>
    <li>www.jakasstrona.pl<br>
      <p class="smaller_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at libero in nisi mollis porttitor. Curabitur porttitor venenatis posuere. In volutpat ante dolor, in malesuada dolor bibendum nec. Donec sagittis egestas hendrerit. Nunc gravida libero vel sodales aliquet. Aliquam tempor lorem ut risus mattis tempus. Sed laoreet molestie mauris, vitae lacinia urna iaculis cursus. Ut ante ante, lacinia ut viverra iaculis, ultrices id massa. Curabitur pharetra dui ac congue eleifend. Maecenas porta pharetra ante, ac volutpat eros rhoncus quis. Maecenas ligula purus, lobortis in ornare vel, porttitor non magna. Sed volutpat, elit a sollicitudin adipiscing, odio turpis iaculis ipsum, vitae dictum massa tortor rhoncus leo. Integer sit amet tempus mi, tincidunt ornare lacus. Mauris congue in ante eu dictum. Donec facilisis mauris vitae leo volutpat rutrum. Vivamus vel adipiscing massa. </p>
    </li>
  </ul>

  <hr>

  <img src="/static/img/shapes/calculator.png" class="img_on_left_wrap extras_icon_resize"><h3>Kalkulatory</h3>
  <ul>
    <li>Odsetek<br>
      <p class="smaller_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at libero in nisi mollis porttitor. Curabitur porttitor venenatis posuere. In volutpat ante dolor, in malesuada dolor bibendum nec. Donec sagittis egestas hendrerit. Nunc gravida libero vel sodales aliquet. Aliquam tempor lorem ut risus mattis tempus. Sed laoreet molestie mauris, vitae lacinia urna iaculis cursus. Ut ante ante, lacinia ut viverra iaculis, ultrices id massa. Curabitur pharetra dui ac congue eleifend. Maecenas porta pharetra ante, ac volutpat eros rhoncus quis. Maecenas ligula purus, lobortis in ornare vel, porttitor non magna. Sed volutpat, elit a sollicitudin adipiscing, odio turpis iaculis ipsum, vitae dictum massa tortor rhoncus leo. Integer sit amet tempus mi, tincidunt ornare lacus. Mauris congue in ante eu dictum. Donec facilisis mauris vitae leo volutpat rutrum. Vivamus vel adipiscing massa. </p>
    </li>
  </ul>

</div> <!-- main_container -->

{% endblock %}
