{% extends "main_site/base.html" %}
{% block title %}Kancelaria Adwokacka Marcin Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header"><h1>KANCELARIA ADWOKACKA</h1></div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
  <p>Kancelaria adwokacka proponuje najbardziej optymalne rozwiązania dla zgłaszanych przez Państwa potrzeb i problemów.</p>
  <img class=img_on_left_wrap src="/static/img/house.jpg" alt="kancelaria adwokacka Wrocław">
  <p>Kancelaria prawna kieruje swoje usługi, zarówno do osób fizycznych, jak również podmiotów gospodarczych. W ramach świadczonej pomocy prawnej, oferujemy reprezentację przed sądami, organami administracji, podmiotami postępowania przygotowawczego (m.in. Policją i Prokuraturą). Ponadto kancelaria adwokacka proponuje szerokie doradztwo prawne, pomoc przy prowadzeniu negocjacji, przygotowywanie fachowych i wszechstronnych opinii prawnych, opracowywanie projektów i analizę umów. Zapewniamy, również stałą obsługę prawną przedsiębiorców.</p>
  <p>Dbałość o interesy Klientów i wysoka jakość świadczonych usług, osiągana jest przez wnikliwą analizę stanu sprawy, udzielenie rzetelnych i wszechstronnych informacji o szansach realizacji zamierzonego przez Klienta celu. Do każdej sprawy przekazanej kancelarii adwokackiej do obsługi podchodzimy indywidualnie, proponując swoim Klientom rozwiązania zgodne z ich oczekiwaniami.</p>
  <p>Wrocław jest miastem dominującym pod względem liczby prawników. Dokonując wyboru określonej kancelarii prawnej – nie działaj pochopnie, wybierz kancelarię odpowiadającą Twoim oczekiwaniom.</p>
</div> <!-- main_container -->

{% endblock %}
