{% extends "main_site/base.html" %}
{% block title %}Kancelaria Adwokacka Marcin Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header"><h1>STRONA GŁÓWNA</h1></div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
  <p>W ramach prowadzonej działalności proponujemy optymalne rozwiązania dla zgłaszanych przez Państwa potrzeb i problemów.</p>
  <img class=img_on_left_wrap src="/static/img/house.jpg">
  <p>Kancelaria kieruje swoje usługi zarówno do osób fizycznych, jak również podmiotów gospodarczych. W ramach świadczonej pomocy prawnej oferujemy reprezentację przed sądami, organami administracji, podmiotami postępowania przygotowawczego (m.in. Policja i Prokuratura). Ponadto proponujemy szerokie doradztwo prawne, pomoc przy prowadzeniu negocjacji, przygotowywanie fachowych i wszechstronnych opinii prawnych, opracowywanie projektów i analizę umów. Zapewniamy także stałą obsługą prawną przedsiębiorców.<br><br></p>
  <p>Dbałość o interesy Klientów i wysoka jakość świadczonych usług, osiągana jest przez wnikliwą analizę stanu sprawy, udzielenie rzetelnych i wszechstronnych informacji o szansach realizacji zamierzonego przez Klienta celu. Do każdej sprawy podchodzimy indywidualnie, proponując swoim Klientom rozwiązania zgodne z ich oczekiwaniami.</p>

</div> <!-- main_container -->

{% endblock %}
