{% extends "main_site/base.html" %}
{% block description %}Świadczymy kompleksowe usługi prawne z wybranych dziedzin prawa. Specjalizujemy się przede wszystkim w: prawie karnym, gospodarczym, rodzinnym . . .{% endblock %}
{% block title %}Kancelaria | Kancelaria Adwokacka Marcin Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header"><h1>KANCELARIA ADWOKACKA WE WROCŁAWIU</h1></div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
  <p>Kancelaria adwokacka świadczy kompleksowe usługi prawne z wybranych dziedzin prawa. Główne obszary specjalizacji to: prawo karne, prawo gospodarcze, cywilne, rodzinne, administracyjne, podatkowe, budowlane, a także prawo pracy i zabezpieczeń społecznych oraz dochodzenie należności, także w elektronicznym postępowaniu upominawczym – EPU.</p>
  <h3 class="services2_h3">Jak pracuje adwokat?</h3>
  <img class=img_on_left_wrap src="/static/img/house.jpg" alt="kancelaria adwokacka Wrocław">
  <p>Sprawy powierzone kancelarii adwokackiej traktujemy priorytetowo, oznacza to, że na bieżąco podejmujemy wszelkie niezbędne czynności w celu rzetelnego i prawidłowego poprowadzenia sprawy. Do czasu zakończenia danej sprawy, adwokat pozostaje w stałym kontakcie z Klientem. Informujemy Cię o wszelkich podejmowanych czynnościach prawnych i faktycznych, jak i osiągniętych rezultatach. W sytuacjach losowych, sprawach nagłych zawsze możesz liczyć na szybką pomoc adwokata. Niezbędne informacje uzyskujesz już po kontakcie telefonicznym z kancelarią prawną. Kancelaria adwokacka otwarta jest w stałych godzinach, w ciągu tygodnia. Natomiast, jeżeli sytuacja osobista Klienta uniemożliwia mu przybycie na spotkanie w siedzibie kancelarii, w stałych godzinach pracy, to zawsze istnieje możliwość ustalenia innego terminu oraz miejsca spotkania.</p>
  <h3 class="services_h3">Pro bono</h3>
  <p>Adwokat to zawód zaufania publicznego, którego wiążą nie tylko normy prawne oraz zasady etyki adwokackiej, ale również spoczywa na nim obowiązek ponoszenia odpowiedzialności społecznej. Mając na uwadze to, że nie każdy obywatel jest wstanie ponieść ciężar kosztów, związanych z świadczoną pomocą prawną, dlatego też postanowiliśmy wesprzeć te osoby, które tej pomocy prawnej potrzebują. W tym celu podjęliśmy współpracę z kilkoma stowarzyszeniami.</p>
  <p>Dodatkowo kancelaria adwokacka świadczy bezpłatne porady prawne, dla osób faktycznie ubogich, którym takowa pomoc jest niezbędna.</p>
  <p>Dobry adwokat, czy radca prawny zawsze znajduje czas dla ludzi, którym pomoc prawna jest niezbędna.</p>

</div> <!-- main_container -->

{% endblock %}
