{% extends "main_site/base.html" %}
{% block title %}Kancelaria | Kancelaria Adwokacka Marcin Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header">KANCELARIA</div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
  <p>Kancelaria adwokacka świadczy kompleksowe usługi prawne z wybranych dziedzin prawa. Główne obszary specjalizacji to: prawo karne, prawo gospodarcze, cywilne, rodzinne, administracyjne, podatkowe, budowlane, a także prawo pracy i zabezpieczeń społecznych oraz dochodzenie należności, także w elektronicznym postępowaniu upominawczym – EPU.</p>
  <img class=img_on_left_wrap src="/static/img/house.jpg" alt="kancelaria adwokacka Wrocław">
  <h3 class="services2_h3">Jak pracuje adwokat?</h3>
  <p>Sprawy powierzone Kancelarii traktujemy priorytetowo, oznacza to, że na bieżąco  podejmujemy wszelkie niezbędne czynności w celu rzetelnego i prawidłowego poprowadzenia sprawy. Do czasu zakończenia danej sprawy, pozostajemy w stałym kontakcie z Klientem. Informujemy Cię  o wszelkich podejmowanych czynnościach  prawnych i faktycznych, jak i osiągniętych rezultatach.</p>
  <p>Sprawy powierzone kancelarii adwokackiej traktujemy priorytetowo, oznacza to, że na bieżąco podejmujemy wszelkie niezbędne czynności w celu rzetelnego i prawidłowego poprowadzenia sprawy. Do czasu zakończenia danej sprawy, adwokat pozostaje w stałym kontakcie z Klientem. Informujemy Cię o wszelkich podejmowanych czynnościach prawnych i faktycznych, jak i osiągniętych rezultatach.
W sytuacjach losowych, sprawach nagłych zawsze możesz liczyć na szybką pomoc adwokata. Niezbędne informacje uzyskujesz już po kontakcie telefonicznym z kancelarią prawną.</p>
  <h3 class="services_h3">Pro bono</h3>
  <p>Dodatkowo kancelaria adwokacka świadczy bezpłatne porady prawne, dla osób faktycznie ubogich, którym takowa pomoc jest niezbędna.</p>
  <p>Dobry adwokat, czy radca prawny zawsze znajduje czas dla ludzi, którym pomoc prawna jest niezbędna.</p>

</div> <!-- main_container -->

{% endblock %}
