{% extends "main_site/base.html" %}
{% block title %}Cennik | Kancelaria Adwokacka Marcin Andreasik{% endblock %}
{% block content %}

<div class=main_container>
  <div class=main_container_logo>
    <div class="main_container_header">CENNIK</div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
  <p>Punktem priorytetowym naszej kancelarii jest Klient. Dlatego też staramy się, aby każdy Klient był zadowolony z świadczonych usług. W tym celu każda sprawa jest indywidualnie analizowana, następnie omawiana z Klientem, aby od początku znał możliwości osiągnięcia zamierzonego celu.</p>
  <p>Każde wynagrodzenie jest ustalane indywidualnie, przed zleceniem sprawy do obsługi. Warunki finansowe zawsze są przedstawiane Klientowi w sposób rzetelny, niebudzący zaskoczenia na jakimkolwiek etapie postępowania.</p>
  <p>Co do zasady stosujemy następujące formy rozliczeń:</p>
  <div class="centered_block">
    <img class=centered_on_left src="/static/img/shapes/hammer.png"><p><span class="bold">1. Stałe wynagrodzenie</span><br>Wynagrodzenie jest ustalane z góry za daną usługę.</p>
  </div>
  <div class="centered_block">
    <img class=centered_on_left src="/static/img/shapes/calendar.png"><p><span class="bold">2. System ryczałtowy miesięczny</span><br>Stawka wynagrodzenia określana jest z góry, płatna w okresach miesięcznych. Ten sposób wynagrodzenia można stosować w sprawach powtarzalnych, w których wcześniej określa się przybliżony wymiar oraz nakład czasu pracy.</p>
  </div>
  <div class="centered_block">
    <img class=centered_on_left src="/static/img/shapes/clock.png"><p><span class="bold">3. Stawka godzinowa</span><br>Wysokość wynagrodzenia uzależniona jest od czasu przeznaczonego na daną usługę.</p>
  </div>
  <p>Kancelaria przyjmuje również do obsługi sprawy, w których wysokość wynagrodzenia można uzależnić od jej rozstrzygnięcia:<br>- premia za sukces (success fee),<br>- wynagrodzenie procentowe stanowiące udział w zasądzonej kwocie, w przypadku wygrania sprawy.</p>
  <p>Poza przedstawionymi powyżej sposobami rozliczania się z Klientami, w stosunku dla podmiotów gospodarczych, proponujemy następujące pakiety pomocy prawnej:</p>
  <div class="panel left_panel">
    <img src="/static/img/shapes/standard1.png"><br>
    <p><span class="bold">I Pakiet STANDARD obejmuje</span></p>
    <ul>
      <li>5 godzin porad prawnych</li>
      <li>sporządzenie 4 wezwań do zapłaty w imieniu Klienta</li>
      <li>sporządzenie zawezwania do próby ugodowej</li>
      <li>sporządzenia pozwu/wniosku lub opinii prawnej</li>
      <li>udział w negocjacji biznesowej lub mediacji</li>
    </ul>
  </div>
  <div class="panel middle_panel">
    <img src="/static/img/shapes/standard2.png"><br>
    <p><span class="bold">II Pakiet MEDIUM obejmuje</span></p>
    <ul>
      <li>10 godzin porad prawnych lub reprezentacji przed organami prawnymi</li>
      <li>reprezentacja przed sądem (I, II instancja, do 4 rozpraw/posiedzeń)</li>
      <li>sporządzenie 2 zawezwań do próby ugodowej</li>
      <li>sporządzenie pozwu/wniosku lub opinii prawnej w dwóch sprawach</li>
      <li>udział w 2 negocjacjach lub mediacjach</li>
    </ul>
  </div>
  <div class="panel right_panel">
    <img src="/static/img/shapes/standard3.png"><br>
    <p><span class="bold">III Pakiet PREMIUM</span></p>
    <ul>
      <li>Zakres usług wchodzących w skład niniejszego pakietu jest indywidualnie ustalany z Klientem</li>
    </ul>
  </div>
  <div class="clear"></div>
  <img src="/static/img/shapes/family.png" class="img_on_left_wrap pricing_icon_resize">
  <h3>Pakiet obsługi prawnej Rodzina</h3>
  <p>Dodatkowo z myślą o osobach fizycznych stworzyliśmy pakiet obsługi prawnej RODZINA, przeznaczony wyłącznie do ich dyspozycji. W ramach niniejszego pakietu oferujemy osobą fizycznym oraz rodzinom możliwość wykupienia stałego abonamentu pomocy prawnej. Pakiet obejmuje świadczenie usług dotyczących wszystkich spraw wymagających wiedzy prawniczej, a jednocześnie niezwiązanych z prowadzoną działalnością gospodarczą, przez któregokolwiek z członków rodziny. Zakres pakietu jest indywidualnie dostosowywany do potrzeb Klienta.</p>

</div> <!-- main_container -->

{% endblock %}
