{% extends "main_site/base.html" %}
{% block title %}Publikacje | Kancelaria Adwokacka Marcin Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header">PUBLIKACJE</div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>

  <h3>W tym dziale znajdudją się publikacje dotyczące spraw związanych z:</h3>

  <div class="publication_item">
    <img src="/static/img/shapes/book.png" class="img_on_left_wrap">
    <div class="alignleft">
      <h4>Prawo karne</h4>
{#      <ul>#}
{#        <li class="ul-dash">tymczasowe aresztowanie</li>#}
{#        <li class="ul-dash">oszustwo 286 kk</li>#}
{#        <li class="ul-dash">itp.</li>#}
{#      </ul>#}
    </div>
  </div>
  <div class="clear"></div>

  <hr>

  <div class="publication_item">
    <img src="/static/img/shapes/book.png" class="img_on_left_wrap">
    <div class="alignleft">
      <h4>Prawo gospodarcze</h4>
{#      <ul>#}
{#        <li class="ul-dash">kara umowna</li>#}
{#      </ul>#}
    </div>
  </div>
  <div class="clear"></div>

  <hr>

  <div class="publication_item">
    <img src="/static/img/shapes/book.png" class="img_on_left_wrap">
    <div class="alignleft">
      <h4>Prawo spadkowe</h4>
{#      <ul>#}
{#        <li class="ul-dash">dziedziczenie</li>#}
{#        <li class="ul-dash">otwarcie spradku</li>#}
{#      </ul>#}
    </div>
  </div>
  <div class="clear"></div>

  <hr>

  <div class="publication_item">
    <img src="/static/img/shapes/book.png" class="img_on_left_wrap">
    <div class="alignleft">
      <h4>Prawo cywile</h4>
{#      <ul>#}
{#        <li class="ul-dash">postępowanie nakazowe </li>#}
{#      </ul>#}
    </div>
  </div>
  <div class="clear"></div>

  <hr>

  <div class="publication_item">
    <img src="/static/img/shapes/book.png" class="img_on_left_wrap">
    <div class="alignleft">
      <h4>Prawo rodzinne</h4>
{#      <ul>#}
{#        <li class="ul-dash">rozwód</li>#}
{#        <li class="ul-dash">separacja</li>#}
{#        <li class="ul-dash">władza rodzicielska</li>#}
{#      </ul>#}
    </div>
  </div>
  <div class="clear"></div>

  <hr>

  <div class="publication_item">
    <img src="/static/img/shapes/book.png" class="img_on_left_wrap">
    <div class="alignleft">
      <h4>Prawo pracy</h4>
    </div>
  </div>
  <div class="clear"></div>

  <hr>

  <div class="publication_item">
    <img src="/static/img/shapes/book.png" class="img_on_left_wrap">
    <div class="alignleft">
      <h4>Prawo administracyjne</h4>
    </div>
  </div>
  <div class="clear"></div>

  <hr>

</div> <!-- main_container -->

{% endblock %}
