{% extends "main_site/base.html" %}
{% block title %}Kancelaria | Kancelaria Adwokacka Marcin Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header">SPRAWY ADMINISTRACYJNE I PODATKOWE</div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
  <p>W ramach spraw administracyjnych i podatkowych oferujemy Państwu usługi prawne w zakresie występowanie przed sądami, organami administracji publicznej, skarbowej i podatkowej.</p>

  <p>Oferowane usługi prawne obejmują w szczególności możliwość sporządzenia środków odwoławczych od zapadłych decyzji, tj. odwołań, wezwań organu do usunięcia naruszenia prawa, skarg do sądów administracyjnych, odwołań od decyzji skarbowych.</p>

  <p>W ramach świadczonego doradztwa podatkowego oferujemy przedsiębiorcą pomoc prawną w:</p>
  <ul>
    <li>opiniowaniu i analizowaniu podejmowanych przez przedsiębiorcę działań, mających na celu optymalizację podatkową,</li>
    <li>przedstawianiu najkorzystniejszych rozwiązań podatkowych w przypadku zakładania oraz przekształcania podmiotów gospodarczych,</li>
    <li>przeprowadzenie procedury skorzystania z instytucji ulgi „na złe długi”, która umożliwia podatnikom, którzy mają trudności z uzyskaniem od kontrahenta zapłaty za towar czy usługę „odzyskanie” kwoty zapłaconego podatku od danej czynności, przy spełnieniu ustawowych przesłanek. Procedura ta nazywana jest powszechnie ulgą na złe długi i dotyczy wierzytelności, których nieściągalność została uprawdopodobniona.</li>
  </ul>

</div> <!-- main_container -->

{% endblock %}
