{% extends "main_site/base.html" %}
{% block title %}Kancelaria | Kancelaria Adwokacka Marcin Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header">UPADŁOŚĆ KONSUMENCKA</div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
  <p>Osobom fizycznym, które z uwagi na trudną sytuację życiową wpadły w tzw. „spiralę długów” oferujemy pomoc prawną w procesie ogłoszenia i przeprowadzenia upadłości konsumenckiej, która daje możliwość umorzenia zobowiązań osoby fizycznej nieprowadzącej działalności gospodarczej.</p>
  <p>Jeżeli nie wiesz, czy spełniasz przesłanki do przeprowadzenie postępowania upadłościowego, skorzystaj z porady prawnej w formie elektronicznej.</p>

</div> <!-- main_container -->

{% endblock %}
