{% extends "main_site/base.html" %}
{% block title %}Kancelaria | Kancelaria Adwokacka Marcin Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header">SPRAWY KARNE</div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
  <p>Sprawy karne zajmują znaczące miejsce w działalności kancelarii adwokackiej. Udzielamy kompleksowej pomocy prawnej, działamy w charakterze obrońcy i reprezentujemy Klientów w toku postępowania przygotowawczego (m.in. przed Policją i Prokuraturą) oraz przez Sądami wszystkich instancji, w tym także Sądem Najwyższym.</p>
  <p>Kancelaria adwokacka świadczy usługi prawne w zakresie prawa karnego, włącznie z prawem karnym wykonawczym, prawa karnego skarbowego, prawa wykroczeń, ustawy o przeciwdziałaniu narkomanii oraz prawa karnego gospodarczego. Świadczone usługi prawne obejmują, również obronę nieletnich.</p>
  <p>Nasi Klienci mogą liczyć na pomoc i reprezentację przy zatrzymaniu oraz tymczasowym aresztowaniu. Reprezentując pokrzywdzonych w sprawach karnych, zarówno na etapie postępowania przygotowawczego, jak i sądowego, dbamy o zabezpieczenie ich praw w celu realizacji roszczeń cywilnych, w szczególności odszkodowawczych.</p>

</div> <!-- main_container -->

{% endblock %}
