{% extends "main_site/base.html" %}
{% block title %}Pomoc prawna dla przedsiębiorców{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header"><h1>POMOC PRAWNA DLA PRZEDSIĘBIORCÓW</h1></div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
  <p>Oferowana przez kancelarię adwokacką szeroką pomoc prawna obejmuje: doradztwa dla osób prowadzących działalność gospodarczą, obsługę prawną firm prowadzonych w ramach spółek kapitałowych/osobowych oraz pozostałych jednostek organizacyjnych.</p>
    <p>Usługi prawne skierowana do przedsiębiorców obejmują:</p>
    <ol type="I">
      <li onclick="toggle_visibility('registration');">ETAP – rejestracji działalności gospodarczej <small class="font_brown smaller_text">więcej...</small></li>
      <ul id="registration">
        <li>pomoc prawna w rozpoczęciu działalności, a więc w zakładaniu i rejestracji podmiotów gospodarczych, w tym spółek prawa handlowego, jak również ich przekształcenia, łączenia i podziału,</li>
        <li>kompleksowe przygotowanie nowo powstałym jednostką gospodarczym podstawowych aktów wykonawczych, koniecznych do ich prawidłowego funkcjonowania, tj. regulaminów, uchwał organów spółek, protokołów z walnych zgromadzeń, regulaminów wynagrodzeń oraz regulaminów pracy.</li>
      </ul>
      <li onclick="toggle_visibility('service');">ETAP – obsługa przedsiębiorstwa <small class="font_brown smaller_text">więcej...</small></li>
      <ul id="service">
        <li>kompleksowa pomoc prawna w zakresie: udzielania porad prawnych, opiniowania i sporządzania projektów umów/kontraktów, analiza prawna oraz podatkową podejmowanych przez przedsiębiorców działań,</li>
        <li>udział w negocjacjach,</li>
        <li>windykację należności związanych z prowadzoną działalnością gospodarczą na etapie postępowania polubownego, sądowego i egzekucyjnego,</li>
        <li>umożliwiamy skorzystanie z Pieczęci prewencyjnej.</li>
      </ul>
      <li onclick="toggle_visibility('ending');">ETAP – zakończenie działalności gospodarczej <small class="font_brown smaller_text">więcej...</small></li>
      <ul id="ending">
        <li>w przypadku podjęcia decyzji o zakończeniu prowadzenia przedsiębiorstwa przez dany podmiot, oferowana jest przez kancelaria adwokacka pomoc prawna w procesie rozwiązania lub likwidacji danej jednostki, jak i udział w procesie ogłoszenia upadłości danego podmiotu.</li>
      </ul>
    </ol>
    <p>Obsługa prawna firm, może być związana z konkretnym zagadnieniem prawnym, może też mieć charakter okresowy albo stały. Natomiast stała pomoc prawna, to najbardziej popularna forma współpracy przedsiębiorcy z prawnikiem. Pomoc prawna świadczona w ramach stałej obsługi prawnej firm, oparta jest na ukształtowanej zgodnie z potrzebami przedsiębiorcy umowie, zawartej pomiędzy Klientem, a kancelarią adwokacką.</p>
    <p>Taka pomocy prawnej zapewnia, przede wszystkim szybkość działania i optymalizację kosztów zamawianej usługi prawnej. Wynagrodzenie za prowadzenie stałej obsługi firmą jest ustalane ryczałtowo, za dany okres czasu lub według stawek godzinowych.</p>
    <p>Oferowana pomoc prawna, jak również proces działania oraz forma współpracy, są zawsze indywidualnie ustalana z przedsiębiorcą.</p>

</div> <!-- main_container -->
<script>document.addEventListener("DOMContentLoaded", function() {initial_hidden(['registration', 'service', 'ending'])});</script>
{% endblock %}
