{% extends "main_site/base.html" %}
{% block title %}Kancelaria | Kancelaria Adwokacka Marcin Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header">SPRAWY RODZINNE</div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
  <p>Kancelaria specjalizuje się w prowadzeniu spraw rodzinnych w ramach, których udziela Klientom porad prawnych, reprezentuje ich przed sądami, bierze udział w negocjacjach, sporządza stosowne pisma procesowe.</p>
    <p>W ramach oferowanej pomocy prawnej kancelaria adwokacka prowadzi sprawy o:</p>
    <ul>
      <li>rozwód i separację,</li>
      <li>alimenty,</li>
      <li>ustalenie kontaktów z dziećmi,</li>
      <li>ustanowienie rozdzielności majątkowej,</li>
      <li>podział majątku wspólnego, w tym także rozliczenia związków konkubenckich,</li>
      <li>ubezwłasnowolnienie</li>
    </ul>
    <p>W sprawach pilnych możesz uzyskać poradę prawną telefonicznie.</p>

</div> <!-- main_container -->

{% endblock %}
