{% extends "main_site/base.html" %}
{% block title %}Porady prawne dla klientów indywidualnych{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header"><h1>PORADY PRAWNE DLA KLIENTÓW INDYWIDUALNYCH</h1></div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
    <p>Kancelaria adwokacka udziela porad prawnych, reprezentuje Klientów przed sądami, urzędami oraz innymi instytucjami. W ramach świadczonych usług prawnych sporządzane są pozwy, wnioski, środki zaskarżenia oraz inne pisma procesowe. Wykonujemy, również pisemne opinie, opracowania projektów i umów. Uczestniczymy w negocjacjach.</p>
    <p>Istotnym działem kancelarii adwokackiej są sprawy cywilne i gospodarcze. W szczególności oferujemy usługi prawne w zakresie:</p>
    <ul>
      <li>spraw spadkowych,</li>
      <li>sądowego dochodzenia roszczeń,</li>
      <li>wykonania umów,</li>
      <li>rozliczeń majątkowych,</li>
      <li>nieruchomości (m.in.: dotyczących prawa własności oraz ograniczonych praw rzeczowych, zniesienie współwłasności, zasiedzenie, wydanie nieruchomości, obrót nieruchomościami, sprawy wieczystoksięgowe, eksmisja),</li>
      <li>praw autorskich, dóbr osobistych.</li>
    </ul>

    <p>Duże znaczenie w działalności kancelarii adwokackiej odgrywają usługi prawne świadczone w sprawach odszkodowawczych. W szczególności z tytułu szkody na osobie doznanej, na skutek takich zdarzeń jak:</p>
    <ul>
      <li>wypadki komunikacyjne,</li>
      <li>wypadki losowe,</li>
      <li>błędy lekarskie,</li>
      <li>czyny o charakterze chuligańskim.</li>
    </ul>
    <p>Jeżeli nie jesteś pewien jakie prawa Ci przysługują, jak powinieneś się zachować w określonej sytuacji, jakie działania prawne powinieneś podjąć – skorzystaj z porady prawnej.</p>
    <p>Otrzymana w kancelarii porada prawna, zapewne pomoże Ci rozwiązać dotychczasowe problemy.</p>

</div> <!-- main_container -->

{% endblock %}
