{% extends "main_site/base.html" %}
{% block title %}Instytucje Publiczne | Kancelaria M. Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header">INSTYTUCJE PUBLICZNE</div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
  <p>W ramach oferowanej pomocy prawnej kancelaria adwokacka świadczy kompleksową obsługę prawną instytucją państwowym i samorządowym. Oferujemy obsługę prawną organów wykonawczych w/w podmiotów, wykładnię i interpretację powszechnie obowiązujących przepisów prawa, w tym prawa miejscowego z perspektywy realizowanych przez daną jednostkę zadań własnych i zleconych. Kancelaria zajmuje się opracowywaniem i opiniowaniem projektów umów, sporządzaniem opinii prawnych i reprezentowaniem danych instytucji w procesach.</p>

</div> <!-- main_container -->

{% endblock %}
