{% extends "main_site/base.html" %}
{% block title %}Usługi prawne i pomoc prawna | Marcin Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header"><h1>USŁUGI PRAWNE I POMOC PRAWNA</h1></div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>

  <div class="clear"></div>

  <img src="/static/img/shapes/handcuffs.png" class="img_on_left_wrap service_icon_resize vertical_middle"><h3>Sprawy Karne</h3>
  <div id="criminal">
    <p>Sprawy karne zajmują znaczące miejsce w działalności kancelarii adwokackiej. Udzielamy kompleksowej pomocy prawnej, działamy w charakterze obrońcy i reprezentujemy Klientów w toku postępowania przygotowawczego (m.in. przed Policją i Prokuraturą) oraz przez Sądami wszystkich instancji, w tym także Sądem Najwyższym. <a href="{% url 'main_site:services:criminal' %}"><small class="font_brown">więcej...</small></a></p>
{#    <small class="font_brown smaller_text">więcej...</small>#}
  </div>
  <hr>

  <img src="/static/img/shapes/the_other_bust.png" class="img_on_left_wrap service_icon_resize"><h3>Pomoc prawna oferowana przedsiębiorcom</h3>
  <div id="entrepreneurs">
    <p>Kancelaria adwokacka oferuje szeroką pomoc prawną w zakresie: doradztwa dla osób prowadzących działalność gospodarczą, obsługi prawnej firm prowadzonych w ramach spółek kapitałowych/osobowych oraz pozostałych jednostek organizacyjnych. <a href="{% url 'main_site:services:entrepreneurs' %}"><small class="font_brown">więcej...</small></a></p>

  </div>

  <hr>
  
  <img src="/static/img/shapes/bust.png" class="img_on_left_wrap service_icon_resize"><h3>Pomoc prawna oferowana klientom indywidualnym</h3>
  <div id="individual">
    <p>Kancelaria adwokacka udziela porad prawnych, reprezentuje Klientów przed sądami, urzędami oraz innymi instytucjami. W ramach świadczonych usług prawnych sporządzane są pozwy, wnioski, środki zaskarżenia oraz inne pisma procesowe. Wykonujemy, również pisemne opinie, opracowania projektów i umów. Uczestniczymy w negocjacjach. <a href="{% url 'main_site:services:individual' %}"><small class="font_brown">więcej...</small></a></p>
  </div>

  <hr>

  <img src="/static/img/shapes/insttytucje_publiczne.png" class="img_on_left_wrap service_icon_resize"><h3>Instytucje publiczne</h3>
  <div id="public">
    <p>W ramach oferowanej pomocy prawnej kancelaria adwokacka świadczy kompleksową obsługę prawną instytucją państwowym i samorządowym. <a href="{% url 'main_site:services:public' %}"><small class="font_brown">więcej...</small></a></p>
  </div>

  <hr>

  <img src="/static/img/shapes/family.png" class="img_on_left_wrap service_icon_resize" ><h3>Sprawy rodzinne</h3>
  <div id="family">
    <p>Kancelaria specjalizuje się w prowadzeniu spraw rodzinnych w ramach, których udziela Klientom porad prawnych, reprezentuje ich przed sądami, bierze udział w negocjacjach, sporządza stosowne pisma procesowe. <a href="{% url 'main_site:services:family' %}"><small class="font_brown">więcej...</small></a></p>
  </div>

  <hr>

  <img src="/static/img/shapes/piggybank.png" class="img_on_left_wrap service_icon_resize"><h3>Upadłość konsumencka</h3>
  <div id="bankrupt">
    <p>Osobom fizycznym, które z uwagi na trudną sytuację życiową wpadły w tzw. „spiralę długów” oferujemy pomoc prawną w procesie ogłoszenia i przeprowadzenia upadłości konsumenckiej, która daje możliwość umorzenia zobowiązań osoby fizycznej nieprowadzącej działalności gospodarczej. <a href="{% url 'main_site:services:bankrupt' %}"><small class="font_brown">więcej...</small></a></p>
  </div>

  <hr>

  <img src="/static/img/shapes/guy_with_locker.png" class="img_on_left_wrap service_icon_resize"><h3>Sprawy administracyjne i podatkowe</h3>
  <div id="administration">
    <p>W ramach spraw administracyjnych i podatkowych oferujemy Państwu usługi prawne w zakresie występowanie przed sądami, organami administracji publicznej, skarbowej i podatkowej. <a href="{% url 'main_site:services:administration' %}"><small class="font_brown">więcej...</small></a></p>
  </div>

  <hr>

  <img src="/static/img/shapes/guy_with_laptop.png" class="img_on_left_wrap service_icon_resize"><h3>Prawo pracy i zabezpieczeń społecznych</h3>
  <div id="work">
    <p>W ramach prowadzonej kancelarii adwokackiej oferujemy Państwu pomoc prawną w zakresie reprezentacji Klienta przed sądem pracy, sporządzaniem oraz opiniowaniem umów o pracę (kontraktów menedżerskich, umów o zakazie konkurencji). <a href="{% url 'main_site:services:work' %}"><small class="font_brown">więcej...</small></a></p>
  </div>

</div> <!-- main_container -->

{% endblock %}
