{% extends "main_site/base.html" %}
{% block title %}Prawo Pracy i Zabezpieczeń | Kancelaria M. Andreasik{% endblock %}
{% block content %}

<div class=main_container>

  <div class=main_container_logo>
    <div class="main_container_header">PRAWO PRACY I ZABEZPIECZEŃ</div>
    <img class="rotating_logo " src="/static/img/logo.gif">
  </div>
  <p>W ramach prowadzonej kancelarii adwokackiej oferujemy Państwu pomoc prawną w zakresie reprezentacji Klienta przed sądem pracy, sporządzaniem oraz opiniowaniem umów o pracę (kontraktów menedżerskich, umów o zakazie konkurencji).</p>
    <p>Istotnymi kwestiami z zakresu prawa pracy, którymi zajmujemy się w ramach świadczonych usług prawnych są zagadnienia zawiązanie z:</p>
    <ul>
      <li>rozwiązywaniem umów o pracę za wypowiedzeniem i bez wypowiedzenia,</li>
      <li>ustalaniem odpowiedzialności materialnej pracowników,</li>
      <li>dochodzeniem świadczeń pracowniczych,</li>
      <li>ustaleniem istnienia stosunku pracy, pomimo zawartej umowy cywilnoprawnej (np. umowy zlecenia, umowy o dzieło),</li>
      <li>mobbing,</li>
      <li>wypadkami w pracy.</li>
    </ul>
    <p>W ramach pomocy prawnej udzielanej przez Kancelarię, prowadzimy wszelkie sprawy przeciwko Zakładowi Ubezpieczeń Społecznych. W szczególności zajmujemy się sporządzaniem odwołania od decyzji ZUS i reprezentujemy Klientów w dalszym postępowaniu.</p>
</div> <!-- main_container -->

{% endblock %}
